.body {
    background-image: url('../images/sea.jpg');
    width: 100%;
    
    background-repeat: no-repeat;
    background-size: cover;

}
.background-image { 
    height: 2000px;
    background-size: cover;
    animation-name: sea;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
.animation {
    position: relative;

}
.birds {
    position: absolute;
    right: 0;
    top: 0;
    height: 200px;
    animation-name: birds;
    animation-duration: 7s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-delay: 1s;
    
    
    

}
.sun {
    position: absolute;
    margin-left: 850px;
    margin-bottom: 330px;
    
    animation-name: sun;
    animation-duration: 7s;
    animation-delay: 1s;
    animation-timing-function:linear;
    animation-iteration-count: infinite;
    
}
.boat {
    position: absolute;
    height: 300px;
    margin-left: 200px;
    margin-top: 500px;
    animation: boat 10s ease-in-out 1s infinite ;
}

@keyframes birds {
    from {right: 0px; }
    to { right: 1500px; }
    0%   {top: 0px;}
  25%  {top: 200px;}
  50%  {top: 100px;}
  75%  {top: 200px;}
  100% {top: 0px;}
}

@keyframes sun {
    from {bottom: 0px; rotate: 360deg; }
    to { bottom: 500px; }
    


}
@keyframes boat {
    from {left:0px;}
    to {left: 1200px;}
}