.body {
    background-image: url('../images/sky2.jpg');
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;

}
.background-image { 
    width: 100%;
}
.animation {
    position: relative;

}
.dambo {
    position: absolute;
    right: 0;
    bottom: 0;
    animation-name: dambo;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: 2s;
    
    
    

}

@keyframes dambo {
    from {right: 0px; rotate: 360deg;}
    to { right: 500px; }
    
}